<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
    
        <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="connection.password">jsd1605</property>
        <property name="connection.username">jsd1605</property>
        <property name="connection.url">jdbc:oracle:thin:@localhost:1521:orcl</property>
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        
        <!-- 当前session保存在哪，使用getCurrentSession()方法使用的 -->
        <property name="hibernate.current_session_context_class">thread</property>
        
        <property name="hbm2ddl.auto">update</property>
        <property name="format_sql">true</property>
        <property name="show_sql">true</property>
        
        <!-- 指定数据库连接池的提供者  -->
        <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
        <!-- 指定连接池里最大连接数 -->
		<property name="hibernate.c3p0.max_size">20</property>
		<!-- 指定连接池里最小连接数 -->
		<property name="hibernate.c3p0.min_size">1</property>
		<!-- 指定等待获取连接的超时时长 -->
		<property name="hibernate.c3p0.timeout">5000</property>
		<!-- 指定连接池里最大缓存多少个Statement对象 -->
		<property name="hibernate.c3p0.max_statements">100</property>
		<!-- 每隔多长时间去测试空闲数据库连接数量 -->
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		<!--  -->
		<property name="hibernate.c3p0.acquire_increment">2</property>
		<!--  -->
		<property name="hibernate.c3p0.validate">true</property>
        
        <!-- 开启二级缓存 -->
        <property name="cache.use_second_level_cache">true</property>
        <!-- 配置二级缓存的提供商 -->
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</property>
        <!-- 二级缓存ehcache的配置文件位置 -->
        <property name="hibernate.cache.provider_configuration_file_resource_path">ehcache.xml</property>
        
        <!-- 开启查询缓存 -->
        <property name="hibernate.cache.use_query_cache">true</property>
        
        
        <!--  
        <mapping resource="com/tz/hibernate/entity/Student.hbm.xml" />
        <mapping resource="com/tz/hibernate/entity/Teacher.hbm.xml" />
        <mapping resource="com/tz/hibernate/entity/Course.hbm.xml" />
        -->
        
        <mapping class="com.tz.hibernate.domain.Student" />
        <mapping class="com.tz.hibernate.domain.Teacher" />
        <mapping class="com.tz.hibernate.domain.Course" />
        <mapping class="com.tz.hibernate.domain.SC" />
        
    
    </session-factory>

</hibernate-configuration>